.partners .hero_container {
  /* background-color: #E8EAF5; */
}

.partners .hero {
  background: url("../img/bg.jpg");
  background-position: center;
  background-color: #e8eaf5;
  background-repeat: no-repeat;
  font-size: 20px;
  min-height: 62vh;
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  padding: 0 200px;
}

.partners .hero_title-container {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: column;
  margin-right: 176px;
}

.partners .hero_title {
  font-size: 64px;
  font-weight: 400;
  text-align: left;
}

.partners .hero_title-bold {
  font-size: 86px;
  font-weight: 600;
  text-align: left;
  margin-top: -60px;
}

.partners .hero_subtitle {
  text-align: left;
}

.partners .hero_img {
  /* align-self: flex-end; */
  /* margin-bottom: 80px; */
  /* width: 480px; */
  height: auto;
  margin-top: 60px;
  align-self: flex-end;
}

.partners .who {
    padding: 70px 200px;
    font-weight: 500;
}

.partners .who_title {
    font-size: 36px;
    font-weight: 700;
}


.partners .mission{
    padding: 40px 200px;
    /* background-color: #E8EAF5; */
}



.partners .mission_inner {
    display: flex;
    align-items: center;
    text-align: start;
    margin-bottom: 140px;
}

.partners .mission_inner img {
    width: 400px;
    height: auto;
    margin-right: 64px;
}

.partners .mission_title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.partners .mission_vision {
    display: flex;
    align-items: center;
    text-align: start;
}

.partners .mission_vision img {
    width: 400px;
    height: auto;
    margin-left: 64px;
}

.partners .faq {
    padding: 40px 200px;
}

.partners .faq_box {
    width: 80%;
    background: #E8EAF5;
border-radius: 15px;
padding: 30px;
display: flex;
align-items: center;
justify-content: space-between;
margin: auto;
margin-bottom: 20px;
}

.partners .first {
    margin-top: 50px;
}


.partners .institution{
  padding: 40px 200px;
  background-color: #E8EAF5;
  height: auto;
}

.partners .institution_title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 41px;
}

.partners .institution_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 24px;
  margin-bottom: 100px;
  color: #BFBFBF;
  font-weight: 600;
  cursor: pointer;
}

.partners .institution_active {
  color: #7F5C9A !important;
}

.partners .institution_uni  {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.partners .uni_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.partners .uni_subtitle {
  font-weight: 500;
  margin-bottom: 32px;
}

.partners .uni_subtitle > a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.partners .uni_list {
  text-align: start;
}

.partners .institution_button {
  background-color: #468E4B;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  padding: 7px 35px;
  margin-top: 44px;
}

.partners .instituition_image-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.partners .instituition_image-container > img {
  width: 500px;
  height: auto;
}

@media (max-width: 1170px) {
  .partners .hero {
    min-height: unset;
  }
  
  .partners .mission, .partners .institution {
    padding: 40px;
  }

  .partners .faq {
    padding: 40px;
  }

  .partners .hero_title-bold {
    margin-top: 0;
    font-size: 50px;
    word-wrap: none;
    word-break: keep-all;
  }

  .partners .hero_img {
    /* width: 300px; */
    /* height: 300px; */
  }
  
}

@media (max-width: 874px) {
  .partners .hero {
    flex-direction: column;
    padding: 0 40px;
    align-items: flex-start;
  }

  .partners .hero_title-bold {
    
  }

  .partners .hero_img {
    align-self: center;
  }

 

.partners .instituition_image-container > img {
  width: 300px;
  height: auto;
}
}

@media (max-width: 680px) {
  
  .partners .flex_column {
    flex-direction: column !important;
    /* background-color: yellow !important; */
    width: 100% !important;
    align-items: flex-start;
  }

  .partners .hero_title-bold {
    font-size: 60px;
  }

  .partners .hero_img {
    width: 300px;
  }

  .partners .hero_title-container {
    margin-top: 50px;
  }

  .partners .faq {
   padding: 40px 20px;
   /* background-color: yellow; */
  }
  .partners .faq_box {
    width: 100%;
  }

  .partners .mission_inner {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .partners .mission_inner img {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }

  .partners .mission_vision {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  .partners .mission_vision img {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }

  .partners .who {
    padding: 70px 40px;

  }

   .partners .institution_uni {
    flex-direction: column;
    align-items: flex-start;
  }
  .partners .institution_list {
    font-size: 16px;
  }

  .partners .institution_list > div {
    margin-bottom: 20px;
  }
}
